.phide {
    display: none;
    width: 100%;
    /* text-align: end; */
}

@media print {

    /* All your print styles go here */
    .print-hide {
        display: none !important;
    }

    .print-full {
        width: 100% !important;
    }

    .phide {
        display: block;
    }
}